<div id="build-students">
  <%= form_for @student do |n| %>
    <%= n.text_field :name, value: name %>
    <%= n.text_field :age, placeholder: "Enter the student's age here" %>
    <%= n.text_field :gender, placeholder: "Male, Female or Other" %>
    <%= n.text_field :contact, placeholder: "Enter contact details here" %>
    <%= n.collection_select @grades %>
    <%= n.collection_select @staffs %>
    <p></p>
    <%= n.submit %>
  <% end %>
</div>