<div id="build-students">
  <%= form_for @student do |n| %>
    <%= n.text_field :name, value: name %>
    <%= n.text_area :age, class: "tinymce", value: role %>
    <%= n.text_field :gender, class: "tinymce", value: role %>
    <%= n.text_field :contact, class: "tinymce", value: role %>
    <%= collection_select @grades %>
    <%= n.text_area :staff_id, class: "tinymce", value: school_id %>
    <%= tinymce %>
    <p></p>
    <%= n.submit %>
  <% end %>
</div>