<div id="build-curriculum">
  <%= form_for @curriculum do |n| %>
    <%= n.text_field :week, placeholder: "Enter the learning week / period here", class: "form-control" %>
    <%= n.text_field :title, placeholder: "Enter the learning objectives here", class: "form-control" %>
    <%= n.text_area :content, class: "tinymce" %>
    <%= n.hidden_field :grade_id, value: grade_id %>
    <%= tinymce %>
    <p></p>
    <%= n.submit "Submit", :class => 'btn btn-primary' %>
  <% end %>
</div>