<section id='content'> 
  <div class="container">

      <div class="page-header page-header-with-buttons">
                  <h1 class="pull-left">
                    <span>Grade - <%= @grade.rank %> </span>
                  </h1>
                  <div class="pull-right">
                    <button  data-toggle="modal" data-target="#myModal" type="button" class="btn btn-success">Add carricula</button>
                  </div>
      </div> 
  <div class="row">

    <div class="col-md-3">
        <h3 class='profile-list-headers'>Curricula</h3>
      <% unless @grade.curriculums.empty? %>
        <% @grade.curriculums.each do |curriculum| %>
          <h5><%= link_to curriculum.title, curriculum_path(curriculum) %></h5>
          <p><i><%= curriculum.content if curriculum.content.length < 50 %></i></p>
        
          <div>
            <%= link_to "Edit", edit_curriculum_path(curriculum), class: "success button small" %>
            <%= link_to "Delete", curriculum_path(curriculum), method: :delete, class: "alert button small" %>
          </div>
        <% end %>
      <% else %>
        <h5>This grade doesn't have any curriculums attached!</h5>
      <% end %>
    </div>
  </div>
</div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="left:0%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a New Type of Resource!</h4>
      </div>
      <div class="modal-body">
       <div class="row">
          <div class="new-form">
          <%= render partial: 'newCarriculaForm', :locals => {name: "", description: "", content: "", grade_id: @grade.id} %>          </div>
        </div>
      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->