<div id="build-resource">
  <%= form_for @resource do |n| %>
    <%= n.text_field :name, placeholder: "Enter the resource name here", class:"form-control" %>
    <br/>
    <%= n.text_area :description, class: "tinymce", value: description %>
    <%= tinymce %>
    <p></p>
    <%= n.submit "Create", :class => 'btn btn-primary' %>
  <% end %>
</div>