<div id="build-staff">
  <%= form_for @staff do |n| %>
    <%= n.text_field :name, placeholder: "Enter name here" %>
    <%= n.text_field :role, placeholder: "Enter role here" %>
    <%= n.hidden_field :school_id, value: school_id %>
    <p></p>
    <%= n.submit %>
  <% end %>
</div>