<div id="build-notification">
  <%= form_for @notification do |n| %>
    <%= n.text_field :title, placeholder: "Enter your subject here:" %>
    <%= n.text_area :content, class: "tinymce", value: content %>
    <%= n.hidden_field :school_id, value: school_id %>
    <%= tinymce %>
    <p></p>
    <%= n.submit %>
  <% end %>
</div>